<div class="page-layout simple tabbed">
  <!-- HEADER -->
  <div class="header accent p-24"><h2>Apps</h2></div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
    <mat-tab-group dynamicHeight="true">
      <mat-tab label="Apps">
        <div class="p-24"><fl-apps-list-tab></fl-apps-list-tab></div>
      </mat-tab>

      <mat-tab label="Technos">
        <div class="p-24"><fl-app-techno-tab></fl-app-techno-tab></div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- / CONTENT -->
</div>
