<div class="page-layout simple tabbed">
  <!-- HEADER -->
  <div class="header accent p-24"><h2>HEADDER bITch</h2></div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
    <mat-tab-group dynamicHeight="true">
      <mat-tab label="{{ 'FLOWS.TITLE' | translate }}">
        <div class="p-24">
          <div style="width: 700px">
            <ngx-graph
              class="chart-container"
              [view]="[700, 100]"
              [legend]="showLegend"
              [links]="links"
              (legendLabelClick)="clickOnNode($event)"
              [nodes]="nodes"
              [scheme]="colorScheme"
              [curve]="curve"
              (select)="clickOnNode($event)"
              [autoZoom]="true"
              [autoCenter]="true"
              [enableZoom]="false"
            >
              <ng-template #defsTemplate>
                <svg:marker
                  id="arrow"
                  viewBox="0 -5 10 10"
                  refX="8"
                  refY="0"
                  markerWidth="4"
                  markerHeight="4"
                  orient="auto"
                >
                  <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                </svg:marker>
              </ng-template>

              <ng-template #nodeTemplate let-node>
                <svg:g
                  class="node"
                  ngx-tooltip
                  [tooltipPlacement]="'top'"
                  [tooltipType]="'tooltip'"
                  [tooltipTitle]="node.label"
                >
                  <svg:rect
                    [attr.width]="node.width"
                    [attr.height]="node.height"
                    [attr.fill]="node.options.color"
                  />
                  <svg:text
                    alignment-baseline="central"
                    [attr.x]="10"
                    [attr.y]="node.height / 2"
                  >
                    {{ node.label }}
                  </svg:text>
                </svg:g>
              </ng-template>

              <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                  <svg:path
                    class="line"
                    stroke-width="2"
                    marker-end="url(#arrow)"
                    marker-start="url(#marker_arrow)"
                  ></svg:path>
                </svg:g>
              </ng-template>
            </ngx-graph>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Technos"> <div class="p-24">Technos</div> </mat-tab>
    </mat-tab-group>
  </div>
  <!-- / CONTENT -->
</div>
